<form class="example-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Question" value="">
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Answer 1" value="">
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Answer 2" value="">
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Answer 3" value="">
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Answer 4" value="">
        </md-form-field>
      </td>
    </tr>
  </table>
</form>
<button md-raised-button color="warn">Add</button>
<button md-button (click)="onNoClick()" tabindex="-1">Close</button>
