<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to Quiz Test!
  </h1>
  <a md-raised-button color="primary" (click)="openDialog()" class="button">Ask an Question</a>
  <a md-raised-button color="primary" class="button">Check student devices</a>
  <a md-raised-button color="primary" class="button">Open Smart textbook</a>
  <a md-raised-button color="primary" class="button">Share a content</a>
  <a md-raised-button color="primary" class="button">+</a>
  <a md-raised-button color="primary" class="button">+</a>
  <br>
  <br>
</div>
<router-outlet></router-outlet>
