<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to Quiz Test!
  </h1>

  <a md-raised-button color="primary" (click)="openDialog()" class="button">Ask a Question</a>
  <a md-raised-button color="primary" class="button">View Response</a>
  <a md-raised-button color="primary" class="button">View Response</a>
  <a md-raised-button color="primary" class="button">View Response</a>
  <a md-raised-button color="primary" class="button">View Response</a>
  <a md-raised-button color="primary" class="button">View Response</a>

  <br>
  <br>
</div>
<router-outlet></router-outlet>
